.examList {
    background:gray;
}

.examList ul{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
}

.examList ul li{
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}